[Unit]
Description=Node express server for editing data on a ballometer server

[Service]
WorkingDirectory=/root/api-edit
Environment=PORT=3003
Environment=JWT_SECRET="{{JWT_SECRET}}"
ExecStart=node index.js
Restart=always
TimeoutStopSec=30
RestartSec=5

[Install]
WantedBy=multi-user.target
